<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.callingsos">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_sos"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_sos"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".menu.Menu">

        </activity>
        <activity android:name=".MainActivity"></activity>
        <!-- Running Application -->
        <activity android:name=".loading.LoadingApp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>